.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top : 40px;
}

.App-link {
  color: #61dafb;
}

.Game-headline {
  color: black;
}

.Input-guess {
  width: 50%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.Guesses {
  margin-top: 50px;
  margin-bottom: 20px;
}
.Cell-advice {
  font-size: 30px;
  margin-left: 10px;
  vertical-align: middle;
}
.Advice {
  transition-property: transform;
  transition-duration: 100ms;
  transform: scale(1);
}